<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP App | Register page</title>
</head>
<body>
    <h1>NLP App</h1>

    <h3>Register Here</h3>
    <form>
        <label>Name</label><br>
        <input type="text"><br>
        <label>Email</label><br>
        <input type="email"><br>
        <label>Password</label><br>
        <input type="password"><br><br>
        <input type="submit">
    </form>

    <p>Already a member? <a href="/login">Login Here</a></p>
</body>
</html>